<html>
<body>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<form action="/addmessage" method="post">
    <input type="text" name="text" placeholder="Enter message here"/>
    <button type="submit">Enter</button>
</form>
<ol>
{{#messages}}

    <li>{{text}}</li>
    <form action="/deletemessage" method="post" style="display: inline-block">
        <input type="hidden" name ="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
    <form action="/editmessage" method="post" style="display: inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="text" name="text" placeholder="Enter message"/>
        <button type="submit">Edit</button>
    </form>

{{/messages}}
</ol>
</body>
</html>